h1{
  font-size: 500;
}

#lorem1000{
  background-color: #DCF2F1;
  color: #0F1035;
}
#lorem100{
  background-color: #EEF5FF;
  color: #11235A;
}
#lorem1000{
  background-color: #607274;
  color: #0F2167;
}